*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    
}

.bigbox {
    width: 450px;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.neiron {
    position: relative;
    width: 200%;
    left: -50%;
    height: 100%;
    background: url(../img/neiron3/长背景.png) 100%/100% no-repeat;
    user-select: none;
}

.niansho {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 35%;
    left: 25%;
    background: url(../img/neiron3/大年兽.png) 100%/100% no-repeat;
}

.paozhu {
    position: absolute;
    width: 8%;
    height: 20%;
    left: 10%;
    bottom: 5%;
    background: url(../img/neiron3/炮竹.png) 100%/100% no-repeat;
}

.paozhu2 {
    position: absolute;
    width: 8%;
    height: 20%;
    left: 40%;
    bottom: 5%;
    background: url(../img/neiron3/炮竹.png) 100%/100% no-repeat;
}

.huoba {
    position: absolute;
    cursor: pointer;
    width: 8%;
    height: 20%;
    left: 70%;
    bottom: 5%;
    background: url(../img/neiron3/火把.png) 100%/100% no-repeat;
}

.two_eye {
    position: absolute;
    width: 25%;
    height: 5%;
    left:  36%;
    top: 57%;
    display: none;
    justify-content: space-between;
}

.two_eye :nth-child(1) {
    height: 100%;
    width: 30%;
    background: url(../img/neiron3/圈圈眼.png) 100%/100% no-repeat;
}

.two_eye :nth-child(2) {
    height: 100%;
    width: 30%;
    background: url(../img/neiron3/圈圈眼.png) 100%/100% no-repeat;
}

.baozha_paozhu {
    position: absolute;
    left: 30%;
    top: 50%;
    width: 20%;
    height: 20%;
    transform: rotate(30deg);
    display: none;
}

.baozha_paozhu :nth-child(1) {
    position: absolute;
    width: 60%;
    height: 90%;
    background: url(../img/neiron3/炮竹.png) 100%/100% no-repeat;
    animation: paozhu_anima 3s linear forwards;
}

.baozha_paozhu :nth-child(2) {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 50%;
    background: url(../img/neiron3/爆炸烟雾.png) 100%/100% no-repeat;
    animation: yanwu 3s linear forwards;
}

@keyframes paozhu_anima {
    0%{

    }
    100%{
        height: 0;
    }
}

@keyframes yanwu {
    100%{
        bottom: 80%;
    }
}

.cg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.cg_btn {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 60%;
    background: url(../img/neiron3/成功背景.png) 100%/100% no-repeat;
}

.btn {
    position: absolute;
    cursor: pointer;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 10%;
    background: url(../img/neiron3/成功下一关.png) 100%/100% no-repeat;
}

.yanhua {
    position: absolute;
    top: 10%;
    width: 50%;
    height: 40%;
    background: url(../img/neiron3/烟花.png) 100%/100% no-repeat;
    animation: yanhua_anima 2s infinite;
}

@keyframes yanhua_anima {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}