*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    
}

.bigbox {
    width: 450px;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.neiron {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/neiron5/红色大门.png) 100%/100% no-repeat;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: beijing 2s linear forwards;
}

@keyframes beijing {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.biaoti {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.biaoti :nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/neiron5/光环.png) 100%/100% no-repeat;
    animation: guanhuan 5s linear infinite;
}

@keyframes guanhuan {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.biaoti :nth-child(2) {
    position: absolute;
    width: 70%;
    height: 70%;
    background: url(../img/neiron5/门神到位标题.png) 100%/100% no-repeat;
    animation: biaoti 3s alternate infinite;
}

@keyframes biaoti {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}

.menshen {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30%;
}

.menshen :nth-child(1) {
    width: 30%;
    height: 100%;
    background: url(../img/neiron5/左边贴纸.png) 100%/100% no-repeat;
}

.menshen :nth-child(2) {
    width: 30%;
    height: 100%;
    background: url(../img/neiron5/右边贴纸.png) 100%/100% no-repeat;
}

.btn {
    cursor: pointer;
    margin-bottom: 6%;
    width: 40%;
    height: 7%;
    background: url(../img/neiron5/成功驱除年兽按钮.png) 100%/100% no-repeat;
    animation: btn_anima 2s 2s linear forwards;
    opacity: 0;
}

@keyframes btn_anima {
    0%{
        transform: translate(0 , 20px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes btn_tiaodon {
    0%{
        
        transform: translate(0);
    }
    100%{
        
        transform: translate(0 , -20px);
    }
}

.hb2 {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
}



.two_img {
    position: absolute;
    width: 60%;
    height: 5%;
    bottom: 45%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: img_anima 2s 2s linear forwards;
}

@keyframes img_anima {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.two_img :nth-child(1) {
    width: 15%;
    height: 100%;
    transform: rotateY(180deg);
}

.two_img :nth-child(2) {
    width: 15%;
    height: 100%;
    transform: translate(4px , 3px);
}

